%h1 Login Page
.loginpage
  =  form_tag('/student_requests/login', method: :post) do
    %table{:border => "0"}
      %tr
        %td
          = label :session, :uin, 'Enter your UIN'
        %td
          = text_field(:session, :uin, class: 'input-field', :pattern => "[0-9]+", :oninvalid => "this.setCustomValidity('Invalid UIN')", :oninput => "this.setCustomValidity('')")
    %br
    %br
    = submit_tag 'Login'