html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0;
  padding: 10px;
  background-color: brown;
  color: white;
  border-bottom: 4px solid brown;
  font-size: 2em;
  font-style: normal;
}
.title_click {
  color: #E0E0E0;
  background-color: brown;
  text-decoration: none;
  padding: 13px 13px 13px 13px;
}
.title_click:hover {
  color: white;
  background-color: maroon;
  border-radius: 20px;
  transform: scale(1.2);
}
span {
  clear: both;
  float: right;
  /*position: relative;*/
  /*left: 50%;*/
}
#form_left {
  float: left;
  margin-left: 13%;
  width: 8%;
  height: 3%;
  color: #E0E0E0;
  font-size: 18px;
  font-weight: bold;
  font-family: "Times New Roman";
}
#form_left:hover {
  color: white;
  background-color: maroon;
}
#form_right {
  float: right;
  margin-right: 60%;
  width: 8%;
  color: #E0E0E0;
  font-size: 18px;
  font-weight: bold;
  font-family: "Times New Roman";
}
#form_right:hover {
  color: white;
  background-color: maroon;
}
table {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table th {
  border: 2px solid white;
  font-weight: bold;
  color: white;
  background-color: #d55d5d;
}
table th, table td {
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
}
#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}
.course_id_button {
  background-color:maroon;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	width:100%;
	text-align:left;
}

caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

th {
	
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}
.input-field {
	background-color :Lightgray;
	border: 1px solid #008000; /*remove soild*/
	width: 230px;
	
	border-radius: 5px;
  padding: 5px;
}

.input-field-admin {
	background-color :Lightgray;
	border: 1px solid #008000;
	width: 230px;
	height: 20px;
}
input[type=submit] {
    width: 100%;
    background-color: brown;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type= submit].logout-class
{
  width: 10%;
  margin-left: 85%;
  color: #E0E0E0;
  font-size: 25px;
  font-weight: bold;
  font-family: "Times New Roman";
}
input[type= submit].logout-class:hover {
  color: white;
  background-color: maroon;
}

.loginpage {
    margin: auto;
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.loginpage input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.form_new_request {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.filter_form1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    /*padding: 2px;*/
    width: 50%;
    float: left;
}

.filter_form2 {
    /*border-radius: 5px;*/
    background-color: #f2f2f2;
    /*padding: 20px;*/
    margin-left: 50%;
}

#update_admin_form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.form_new_request input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.notes {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.update_admin {
  width: 25%;
}

.regularbutton {
  width: 22%;
  background-color:brown;
	border:1px solid brown;
	border-radius: 10px;
	display:inline-block;
	cursor:pointer;
	color:#E0E0E0;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	margin: 5px 5px 5px 5px;
}
.regularbutton:hover {
  color: white;
  background-color: maroon;
}

input[type=submit].filter {
    width: 20%;
    background-color: maroon;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label {
  font-size: 17px;
}

table.sortable thead {
    font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    background-color:#eee;
    color:white;
    font-weight: bold;
    cursor: default;
}


table.sortableadmin thead {
    font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    background-color:#eee;
    color:white;
    font-weight: bold;
    cursor: default;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#student_requests {
    table-layout: fixed;
    width: 100%;
}

select 
{
    height:45px;
    line-height:30px;
    background:#f4f4f4;
} 

.multiUpdate
{
  width:100%;
  border-style: none;
}

.multiUpdate td {
  width: 25%;
  border-style: none;
  text-align: center
}

.excel_sheet td {
  text-align: left;
}

.evenrow td {
  background-color: white; 
}
.oddrow td {
  background-color: silver; 
}

.mainbutton {
  margin: 0 0;
  padding: 0px;
  background-color: maroon;
  color: white;
  font-size: 1em;
  font-style: normal;
  border: none;
}
#adminprivileges {
  
}